@using TerranForum.Domain.Models
@using Microsoft.AspNetCore.Identity
@using TerranForum.Domain.Enums
@using TerranForum.ViewModels.PostReply
@model PostReplyViewModel

@inject UserManager<ApplicationUser> UserManager

<div class="container mb-1 pb-1 border-bottom secondary-border" id="manageReply" replyId="@Model.Id" postId="@Model.PostId">
    <span class="text-justify">
        @Model.Content
        @if (UserManager.GetUserId(User) == Model.UserId || User.IsInRole(Roles.Admin))
        {
            <a asp-controller="PostReply" asp-action="GetPostReplyDeleteView" class="danger-anchor">Delete</a>
        }
    </span>
</div>
