@using TerranForum.Domain.Models
@using Microsoft.AspNetCore.Identity
@using TerranForum.Domain.Enums
@model PostReplyViewModel

@inject UserManager<ApplicationUser> UserManager

<blockquote class="blockquote post-comment">
    <p class="text-justify">
        @Model.Content
    </p>
    <footer class="blockquote-footer">
        @*todo link to user page*@
        <a class="secondary-anchor"
        asp-controller="Profile"
        asp-action="ViewProfile"
        asp-route-userName="@Model.Username">@Model.Username</a>
        @if (UserManager.GetUserId(User) == Model.UserId || User.IsInRole(Roles.Admin))
        {
            <a asp-controller="PostReply" asp-action="GetPostReplyDeleteView" class="danger-anchor">Delete</a>
        }
    </footer>
</blockquote>
