@using TerranForum.Domain.Models;
@model IEnumerable<Forum>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <table class="table table-hover">
        <tbody>
            @foreach (var forum in Model)
            {
                <tr>
                    <td>
                        @{
                            await Html.RenderPartialAsync(
                                "~/Views/Forum/_ForumPartial.cshtml",
                                forum);
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>