@import "colors.css";

.replyAchor {
	text-decoration: none;
	padding: .5rem 1rem;
	color: var(--text-color);
}

.replyAchor:hover {
	color: var(--text-200);
}

.danger-anchor {
	font-size: 0.8rem;
	color: var(--secondary-red-color);
	text-decoration: none;
}

.danger-anchor:hover {
	color: var(--secondary-lighter);
}

.secondary-anchor {
	font-size: 0.8rem;
	color: var(--text-300);
}

.secondary-anchor:hover {
	color: var(--text-200);
}
