@import "colors.css";

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem var(--background-color), 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: var(--background-color);
  color: var(--text-color);
}

nav {
    background-color: var(--background-color);
}

.nav-link {
    font-size: medium;
    color: var(--text-color);
}

.nav-link:hover {
    color: var(--text-200);
/*    opacity: 1;*/
}

.navbar-brand {
    font-size: x-large;
    font-weight: bold;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    color: var(--accent-lighter);
}

.footer-link {
    color: var(--text-color);
}

.footer-link:hover {
    color: var(--text-200);
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--text-color);
}

.navbar-toggler {
    color: var(--text-color);
    border: none;
}

.navbar-toggler {
    border: none;
}

footer {
    background-color: var(--text-950);
}

.table {
    background-color: var(--background-color);
    border-color: rgba(255, 255, 255, 0.25);
}

p {
    color: var(--text-color);
}

.forum-title {
    color: var(--text-color);
    display: block;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.forum-title:hover {
    color: var(--text-200);
/*    color: var(--text-color);*/
}

.col-sm-1 {
    padding-right: 0px;
}

textarea {
    width: 100%;
    resize: vertical;
}

.button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: var(--primary-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.primary-button {
    color: var(--background-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.primary-button:hover {
    background-color: var(--primary-lighter);
    border-color: var(--primary-lighter);
}

.primary-button:active {
    background-color: var(--primary-lightest);
    border-color: var(--primary-lightest);
}

.danger-button {
    color: var(--text-color);
    background-color: var(--secondary-red-color);
    border-color: var(--secondary-red-color);
}

.danger-button:hover {
    background-color: var(--secondary-lighter);
    border-color: var(--secondary-lighter);
}

.light-button-outline {
    color: var(--text-color);
    background-color: var(--secondary-700);
    border-color: var(--secondary-700);
    padding: .2rem .4rem;
}

.light-button-outline:hover {
    color: var(--text-color);
    border-color: var(--secondary-700);
    background-color: var(--secondary-700);
    padding: .2rem .4rem;
}

.thread-title {
    font-size: 1.3rem;
}

.delete-modal {
    background-color: var(--background-800);
    color: var(--text-color);
}

.link-button {
    color: var(--accent-color);
    background-color: transparent;
    border-color: transparent;
}

.link-button:hover {
    background-color: var(--accent-800);
}

.flex-center {
    justify-content: center !important;
    align-items: center !important;
}

.form-control {
    color: var(--text-color);
    background-color: var(--background-color);
    border-color: gray;
}

.form-control:focus {
    color: var(--text-color);
    background-color: var(--background-color);
    border-color: gray;
}

.large-button {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
}

.secondary-border {
    border-color: var(--text-700) !important;
}

.button-shell {
    box-sizing: border-box;
    border-radius: 999px;
    background-color: var(--text-950);
    text-overflow: ellipsis;
    outline-offset: 0px;
    border: hidden;
    border-color: var(--text-950);
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
}

minidenticon-svg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #EEE;
    display: inline-block;
}
