:root {
    --text-color: rgb(232, 237, 244);
    --background-color: rgb(13, 19, 28);
    --primary-color: rgb(156, 179, 210);
    --secondary-color: rgb(76, 54, 118);
    --accent-color: rgb(132, 84, 177);

    --text-50: hsl(215, 35%, 93%, 95%);
    --text-100: hsl(215, 35%, 93%, 90%);
    --text-200: hsl(215, 35%, 93%, 80%);
    --text-300: hsl(215, 35%, 93%, 70%);
    --text-400: hsl(215, 35%, 93%, 60%);
    --text-500: hsl(215, 35%, 93%, 50%);
    --text-600: hsl(215, 35%, 93%, 40%);
    --text-700: hsl(215, 35%, 93%, 30%);
    --text-800: hsl(215, 35%, 93%, 20%);
    --text-900: hsl(215, 35%, 93%, 10%);
    --text-950: hsl(215, 35%, 93%, 5%);

    --background-50: hsl(220, 36%, 95%);
    --background-100: hsl(215, 37%, 90%);
    --background-200: hsl(216, 37%, 80%);
    --background-300: hsl(216, 37%, 70%);
    --background-400: hsl(216, 37%, 60%);
    --background-500: hsl(216, 37%, 50%);
    --background-600: hsl(216, 37%, 40%);
    --background-700: hsl(216, 37%, 30%);
    --background-800: hsl(216, 37%, 20%);
    --background-900: hsl(215, 37%, 10%);
    --background-950: hsl(213, 36%, 5%);

    --primary-50: hsl(213, 36%, 95%);
    --primary-100: hsl(215, 37%, 90%);
    --primary-200: hsl(215, 37%, 80%);
    --primary-300: hsl(214, 37%, 70%);
    --primary-400: hsl(214, 37%, 60%);
    --primary-500: hsl(214, 37%, 50%);
    --primary-600: hsl(214, 37%, 40%);
    --primary-700: hsl(214, 37%, 30%);
    --primary-800: hsl(215, 37%, 20%);
    --primary-900: hsl(215, 37%, 10%);
    --primary-950: hsl(213, 36%, 5%);

    --secondary-50: hsl(260, 36%, 95%);
    --secondary-100: hsl(262, 37%, 90%);
    --secondary-200: hsl(261, 37%, 80%);
    --secondary-300: hsl(261, 37%, 70%);
    --secondary-400: hsl(261, 37%, 60%);
    --secondary-500: hsl(261, 37%, 50%);
    --secondary-600: hsl(261, 37%, 40%);
    --secondary-700: hsl(261, 37%, 30%);
    --secondary-800: hsl(261, 37%, 20%);
    --secondary-900: hsl(262, 37%, 10%);
    --secondary-950: hsl(260, 36%, 5%);
    --accent-50: hsl(267, 36%, 95%);
    --accent-100: hsl(272, 37%, 90%);
    --accent-200: hsl(272, 37%, 80%);
    --accent-300: hsl(271, 37%, 70%);
    --accent-400: hsl(271, 37%, 60%);
    --accent-500: hsl(271, 37%, 50%);
    --accent-600: hsl(271, 37%, 40%);
    --accent-700: hsl(271, 37%, 30%);
    --accent-800: hsl(272, 37%, 20%);
    --accent-900: hsl(272, 37%, 10%);
    --accent-950: hsl(273, 36%, 5%);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: var(--background-color);
  color: var(--text-color);
}


nav {
    background-color: var(--background-color);
}

.nav-link {
    font-size: medium;
    color: var(--text-color);
}

.nav-link:hover {
    color: var(--text-200);
/*    opacity: 1;*/
}

.navbar-brand {
    font-size: x-large;
    font-weight: bold;
}

a {
    color: var(--text-color);
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--text-color);
}

.navbar-toggler {
    color: var(--text-color);
    border: none;
}

.navbar-toggler {
    border: none;
}

footer {
    background-color: var(--text-950);
}

.table {
    background-color: var(--background-color);
    border-color: rgba(255, 255, 255, 0.25);
}

p {
    color: var(--text-color);
}

.forum-title {
    display: block;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.forum-title:hover {
/*    color: var(--text-200);*/
    color: var(--text-color);
}

.col-sm-1 {
    padding-right: 0px;
}
