@import "colors.css";

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: var(--background-color);
  color: var(--text-color);
}


nav {
    background-color: var(--background-color);
}

.nav-link {
    font-size: medium;
    color: var(--text-color);
}

.nav-link:hover {
    color: var(--text-200);
/*    opacity: 1;*/
}

.navbar-brand {
    font-size: x-large;
    font-weight: bold;
}

a {
    color: var(--text-color);
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--text-color);
}

.navbar-toggler {
    color: var(--text-color);
    border: none;
}

.navbar-toggler {
    border: none;
}

footer {
    background-color: var(--text-950);
}

.table {
    background-color: var(--background-color);
    border-color: rgba(255, 255, 255, 0.25);
}

p {
    color: var(--text-color);
}

.forum-title {
    display: block;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.forum-title:hover {
/*    color: var(--text-200);*/
    color: var(--text-color);
}

.col-sm-1 {
    padding-right: 0px;
}

textarea {
    width: 100%;
    resize: vertical;
}

.primary-button {
    color: rgb(11, 16, 19);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.light-button-outline {
    color: var(--text-color);
    background-color: var(--secondary-700);
/*    border-color: var(--secondary-700);*/
    padding: .2rem .4rem;
}

.light-button-outline:hover {
    color: var(--text-color);
    border-color: var(--secondary-700);
    background-color: var(--secondary-700);
    padding: .2rem .4rem;
}

.thread-title {
    font-size: 1.3rem;
}

.delete-modal {
    background-color: var(--background-800);
    color: var(--text-color);
}
