@page "/login"
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <form id="account" method="post">
            <h2>@ViewData["Title"]</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-2">
                <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Username" class="form-label"></label>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <p class="text-end mb-1" style="font-size: 0.85rem;">
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
            <div class="form-floating mb-2">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <div class="checkbox">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div>
                <button id="login-submit" type="submit" class="w-100 button primary-button large-button">Log in</button>
            </div>
        </form>
        <div>
            <p class="text-center mt-4" style="font-size: 0.9rem;">
                Don't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
