@using TerranForum.Domain.Models;
@model IEnumerable<Task<ForumViewModel>>
@{
    int currentPage = (int)ViewData["CurrentPage"]!;
    int pageCount = (int)ViewData["PageCount"]!;
    int previousPage = Math.Max(currentPage - 1, -1);
    int nextPage = Math.Min(currentPage + 1, pageCount - 1);
}

<div>
    <div class="d-flex justify-content-end">
        <form method="get" asp-controller="Forum" asp-action="Create">
            <button type="submit" class="btn primary-button">Ask Question</button>
        </form>
    </div>

    @foreach (var forum in Model)
    {
        await Html.RenderPartialAsync(
            "_ForumPartial",
            await forum);
    }

    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <form class="page-form form-inline" method="get" asp-controller="Forum" asp-action="All">
                    <input name="page" value="@(previousPage)" hidden />
                    @if (previousPage > -1)
                    {
                        <button class="btn light-button-outline"
                                type="submit">Previous</button>
                    }
                    else
                    {
                        <button class="btn light-button-outline"
                            type="button" disabled>Previous</button>
                    }
                </form>
            </div>
            <div class="col-sm-1">
                <form class="form-inline" method="get" asp-controller="Forum" asp-action="All">
                    <input name="page" value="@(nextPage)" hidden />

                    @if (currentPage != nextPage)
                    {
                        <button class="btn light-button-outline"
                                type="submit">Next</button>
                    }
                    else
                    {
                        <button class="btn light-button-outline"
                            type="button" disabled>Next</button>
                    }
                </form>
            </div>
        </div>
    </div>
</div>
