@using TerranForum.Domain.Models;
@model IEnumerable<Forum>
@{
    int currentPage = (int)ViewData["CurrentPage"]!;
    int pageCount = (int)ViewData["PageCount"]!;
    int previousPage = Math.Max(currentPage - 1, 0);
    int nextPage = Math.Min(currentPage + 1, pageCount - 1);
}

<div>

    <form method="get" asp-controller="Forum" asp-action="Create">
        <input type="submit" value="Create" />
    </form>

    <table class="table table-hover">
        <tbody>
            @foreach (var forum in Model)
            {
                <tr>
                    <td>
                        @{
                            await Html.RenderPartialAsync("_ForumPartial", forum);
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <form class="page-form form-inline" method="get" asp-controller="Forum" asp-action="All">
                    <input name="page" value="@(previousPage)" hidden />
                    @if (previousPage > 0)
                    {
                        <input type="submit" value="Previous"/>
                    }
                    else
                    {
                        <input type="submit" value="Previous" disabled/>
                    }
                </form>
            </div>
            <div class="col-sm-1">
                <form class="form-inline" method="get" asp-controller="Forum" asp-action="All">
                    <input name="page" value="@(nextPage)" hidden />

                    @if (nextPage < pageCount - 1)
                    {
                        <input type="submit" value="Next"/>
                    }
                    else
                    {
                        <input type="submit" value="Next" disabled/>
                    }
                </form>
            </div>
        </div>
    </div>
</div>
