@{
}

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Forum" asp-action="CreateThread">
            <h2>Create a new thread.</h2>
            <hr />
            <div class="form-floating">
                <input name="title" class="form-control" autocomplete="username" aria-required="true" />
                <label for="title"></label>
            </div>
            <div class="form-floating">
                <input name="content" class="form-control" autocomplete="new-password" aria-required="true" />
                <label for="content"></label>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Create</button>
        </form>
    </div>
</div>
