@using TerranForum.ViewModels
@using TerranForum.Domain.Models
@using Microsoft.AspNetCore.Identity
@using TerranForum.ViewModels.Forum
@using TerranForum.ViewModels.Post
@model ForumThreadViewModel

@inject SignInManager<ApplicationUser> SignInManager;

@{
    PostViewModel masterPost = Model.Posts.First();
    IEnumerable<PostViewModel> answers = Model.Posts.Skip(1);
}

<link href="~/css/page-viewthread.css" rel="stylesheet"/>

<div class="container w-75">
    <h3>@Model.Title</h3>
    
    <div class="container pb-4 ps-0">
        <div class="container ps-0">
            @{
                await Html.RenderPartialAsync(
                    "~/Views/Post/_ViewPartial.cshtml",
                    masterPost);
            }
        </div>

        <div class="mt-4">
            <h5>Replies: @answers.Count()</h5>
            @foreach (var post in answers)
            {
                <div class="container pt-4 mb-4 ps-0">
                    @{
                        await Html.RenderPartialAsync(
                            "~/Views/Post/_ViewPartial.cshtml",
                            post);
                    }
                </div>
                <hr class="mt-1 mb-0"/>
            }
        </div>

        @if (SignInManager.IsSignedIn(User))
        {
            <div class="container mt-3">
                <h4>Your answer</h4>
            
                @{
                    await Html.RenderPartialAsync(
                        "~/Views/Post/_CreatePartial.cshtml",
                        new CreatePostViewModel
                        {
                            ForumId = Model.Id
                        });
                }
            </div>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/viewthread.js"></script>
}
