@using TerranForum.Models;
@model ForumThreadViewModel

@{
}

<div class="py-4">
    <h3>@Model.Title</h3>

    <ul>
        @foreach (var item in Model.Posts)
        {
            @if (item.IsMaster)
            {
                <li>Master: @item.Content</li>
            }
            else
            {
                <li>@item.Content</li>
            }
        }
    </ul>
</div>