@using TerranForum.Models;
@using TerranForum.Domain.Models;
@using Microsoft.AspNetCore.Identity;
@model ForumThreadViewModel

@inject SignInManager<ApplicationUser> SignInManager;

@{
    Post masterPost = Model.Posts.First();
    IEnumerable<Post> answers = Model.Posts.Skip(1);
}

<link href="~/css/page-viewthread.css" rel="stylesheet"/>

<div class="container">
    <h3>@Model.Title</h3>
    <hr />

    <div class="container pb-4">
        <div class="container">
            @{
                await Html.RenderPartialAsync("_PostPartial", masterPost);
            }
        </div>

        <div>
            <h5>Replies: @answers.Count()</h5>
            @foreach (var post in answers)
            {
                <div class="container pt-4">
                    @{
                        await Html.RenderPartialAsync("_PostPartial", post);
                    }
                </div>
                <hr class="mt-1"/>
            }
        </div>

        @if (SignInManager.IsSignedIn(User))
        {
            <div class="container">
                <h4>Your answer</h4>
            
                @{
                    await Html.RenderPartialAsync(
                        "~/Views/Post/_CreatePostPartial.cshtml",
                        new CreatePostViewModel
                        {
                            ForumId = Model.Id
                        });
                }
            </div>
        }
    </div>

</div>

@section Scripts {
    <script src="~/js/viewthread.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
